* {
  box-sizing: border-box;
}

/* color variables */
:root {
  --primary-color: #000000;
  --seconday-color: #397534;

  --primary-background: #C2C2C2;
  --secondary-background: #FFFFFF;

  --font-color-white: #FFFFFF;
  --font-color-black: #000000;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  overflow-x: hidden;
}

title {
  font-family: "Math sans bold", sans-serif;
}

.-S {
  display: block;
  width: 100vw;
  height: auto;
}

.-D {
  max-width: 1200px;
  margin: auto;
}