.blog-header-D, .blog-body-D {
  padding: 20px 40px 0;
  max-width: 740px !important;
}

.blog-banner-D {
  display: block;
  margin: auto;
}

.blog-banner {
  display: block;
  margin: auto;
  width: 100%;
  border-radius: 15px;
}

.blog-title {
  margin: 0 0 15px;
  padding-top: 32px;
  font-size: 2rem;
  font-weight: 700;
}

.blog-info {
  margin: 0 0 5px;
  color: #808080;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
}

.bin-date {
  font-weight: 450;
  color: #3BB143;
}

.blog-share {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0 20px;
  padding-top: 15px;
  border-top: 0.0625rem solid #e6e6e6;
  justify-content: center;
}

.b-sh-it {
  display: flex;
  width: 100px;
  height: 35px;
  margin: 0 10px 10px 0;
  padding: 2px 14px;
  border: 1px solid #3BB143;
  border-radius: 5px;
  color: #808080;
  align-items: center;
  justify-content: center;
}

.b-sh-it:hover {
  cursor: pointer;
  color: #3BB143;
}

.b-sh-it svg {
  width: 24px;
  height: 24px;
  margin: 0 5px 0 0;
}

.blog-stat {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
  align-items: center;
  justify-content: center;
  border-bottom: 0.0625rem solid #e6e6e6;
}

.b-st-it {
  display: block;
  margin: auto 5%;
  padding: 15px 0;
  width: 40%;
  height: 90px;
  border: 1px solid #3BB143;
  border-radius: 10px;
}

.b-st-ti, .b-st-da {
  margin: auto;
  color: #000000;
  line-height: 30px;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
}

.b-st-da {
  font-weight: 700;
  color: #3BB143 !important;
}